<%- include('../partials/header', { title: 'Afegir moto' }) %>

  <h1>Nova incidencia</h1>
  <form action="/incidencias/<%= incidencia.id %>/update" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Descripción</label>
      <input
        type="text"
        name="descripcio"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="prioritat" class="form-label">Prioritat</label>
      <select name="prioritat" class="form-select">
        <option>Molt Alta</option>
        <option>Alta</option>
        <option>Mitjana</option>
        <option>Baixa</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="departament" class="form-label">Departament</label>
      <input
        type="text"
        name="departament"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="dataincidencia" class="form-label">Data Incidencia</label>
      <input
        type="text"
        name="dataincidencia"
        class="form-control"
        required
      />
    </div>
  
    <button type="submit" class="btn btn-success">Crear</button>
  </form>
<%- include('../partials/footer') %>