<%- include('../partials/header') %>

  <h1>Incidencia creada</h1>

  La teva incidencia s'ha creat correctament amb id <h1><%= incidencia.id %></h1>.

    <a href="/usuari" class="btn btn-primary" >Tornar</a>

  </form>

  <%- include('../partials/footer') %>