<%- include('../../partials/header', { title: 'Ticket' }) %>

  <h1>Incidencia creada</h1>

  La teva incidencia s'ha creat correctament amb id <h1><%= inc.id %></h1>.

    <a href="/" class="btn btn-primary" >Tornar</a>

  </form>

  <%- include('../partials/footer') %>