<div class="row">
    <div class="col-md-4 mb-4">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <div style="width: 100%; max-width: 350px;">
                <canvas id="graficoRoles"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <div style="width: 100%; max-width: 500px;">
                <canvas id="graficoHoras"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="d-flex flex-column align-items-center justify-content-center h-100">
            <div style="width: 500px;">
                <canvas id="graficoDias"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="js/grafics.js"></script>