<h2>Login</h2>
<form method="POST" action="/login">
  <label for="nombre">Nom:</label>
  <input type="text" name="nombre" required />
  <label for="contrasena">Contrasenya:</label>
  <input type="password" name="contrasena" required />
  <button type="submit">Entrar</button>
</form>
