<%- include('partials/header', { title: 'Moderador' }) %>

<h1>Pàgina del Admin</h1>
<p>Aquesta és la pàgina dedicada als tècnics.</p>

<a href="/incidencias/asignar" class="btn btn-primary">Asignar Incidencias</a>

<%- include('partials/footer') %>