<%- include('partials/header') %>

<h1>Pàgina del Moderador</h1>
<p>Aquesta és la pàgina dedicada al moderador.</p>

<%- include('incidencias/asignar', { incidencias: incidenciasNoTecnic } ) %>

<%- include('incidencias/list_all', { incidencias: incidenciasYesTecnic } ) %>



<%- include('partials/footer') %>