<%- include('partials/header') %>

<h1>Pàgina del Tècnic</h1>
<p>Hola <%= tecnico.nombre %>, aquesta és la pàgina dedicada als tècnics.</p>


<%- include('incidencias/list_person', { tecnico, incidencias }) %>

<%- include('partials/footer') %>