<%- include('partials/header', { title: 'Tecnic' }) %>

<h1>Pàgina del Tècnic</h1>
<p>Aquesta és la pàgina dedicada als tècnics.</p>

<div class="card-body">
  <% - include('incidencias/list_person', {id : id} ) %>
</div>

<%- include('partials/footer') %>