<%- include('partials/header', { title: 'Usuari' }) %>

<h1>Pàgina del Usuari</h1>
<p>Aquesta és la pàgina dedicada als tècnics.</p>

<a href="incidencias/new" class="btn btn-warning">Afegir Incidencia</a>

<%- include('partials/footer') %>