<table class="table">
    <tr>
        <th>Nom</th>
        <th>Ubicació</th>
    </tr>
    <% departamentos.forEach(departamento => { %>
        <tr>
            <td><%= departamento.nombre %></td>
            <td><%= departamento.ubicacio %></td>
        </tr>
    <% }); %>
</table>