<%- include('../partials/header', { title: 'Crear Actuació' }) %>

    <h1>Crear Nova Actuació</h1>
    <form action="/actuaciones/crear" method="POST">
        <!-- otros campos -->
        <input type="text" name="descripcio" />
        <input type="number" name="hores" />
        <input type="checkbox" name="resolt" />
        <button type="submit">Crear</button>
    </form>


    <%- include('../partials/footer') %>