<%- include('../partials/header', { title: 'Actuacions de la incidència' }) %>

<h2 class="mb-4">Actuacions per a la incidència #<%=  %></h2>

<% if (actuaciones.length === 0) { %>
    <div class="alert alert-warning">Encara no hi ha actuacions per aquesta incidència.</div>
<% } else { %>

<% } %>

<%- include('../partials/footer') %>
