
    <table class="table">
        <tr>
            <th>Nom</th>
        </tr>
        <% categorias.forEach(categoria => { %>
            <tr>
                <td><%= categoria.nombre %></td>
            </tr>
        <% }); %>
    </table>